<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/images/node.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          {{#if isHome}}
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          {{else}}
          <a class="nav-link" aria-current="page" href="/">Home</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if isCreate}}
          <a class="nav-link active" href="/createpage">Create user</a>
          {{else}}
          <a class="nav-link" href="/createpage">Create user</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if isSelect}}
          <a class="nav-link active" href="/selectpage">Select data</a>
          {{else}}
          <a class="nav-link" href="/selectpage">Select data</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
